IPFS_PROJECT_ID=<Infura project ID>
IPFS_PROJECT_SECRET=<Infura secret key>
IPFS_HOST=infura-ipfs.io
IPFS_PORT=5001
IPFS_PROTOCOL=https
IPFS_PUBLIC_URL=https://infura-ipfs.io/ipfs
DEBUG=0
SC_CONVERTER_GOERLI=<Convert smart contract address deployed in Goerli network>
SC_CONVERTER_ETHEREUM=<Convert smart contract address deployed in main network>
SC_MINE_GOERLI=<Mine smart contract address deployed in Goerli network>
SC_MINE_ETHEREUM=<Mine smart contract address deployed in main network>
